.card {
  background-color: $white;
  border: $border-base;
  border-color: $gray-light;
  border-radius: $border-radius-base;
  display: block;
  padding: $space-xl $space-md $space-lg $space-md;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: box-shadow .3s ease-out, transform .3s ease-out;
  transition-delay: .1s;

  &-picture {
    position: relative;
    top: 0;

    &:before {
      content: '';
      display: block;
      padding-top: 75%;
    }
  }

  &-body {
    height: $space-xxl;
    padding: $space-xl $space-md $space-lg $space-md;

    & a{
      color: $black;
    }
  }

  &-footer {
    position: relative;
    bottom: 0;


  }

  &-link {
    text-decoration: none;
  }


  &:hover,
  &:active,
  &:focus {
    box-shadow:  rgba(45,45,45,0.05) 0px 2px 2px,
                 rgba(49,49,49,0.05) 0px 4px 4px,
                 rgba(42,42,42,0.05) 0px 8px 8px,
                 rgba(32,32,32,0.05) 0px 16px 16px,
                 rgba(49,49,49,0.05) 0px 32px 32px,
                 rgba(35,35,35,0.05) 0px 64px 64px;
    transform: translate(0,-4px);
  }
}
