.card {
  background-color: $white;
  border: $border-base;
  border-color: $gray-light;
  border-radius: $border-radius-base;
  display: block;
  padding: $space-xl $space-md $space-lg $space-md;
  box-shadow: $box-shadow;
  cursor: pointer;

  &-picture {
    position: relative;
    top: 0;

    &:before {
      content: '';
      display: block;
      padding-top: 75%;
    }
  }

  &-body {
    height: $space-xxl;
    padding: $space-xl $space-md $space-lg $space-md;

    & a{
      color: $black;
    }
  }

  &-footer {
    position: relative;
    bottom: 0;


  }

  &-link {
    text-decoration: none;
  }

}

a.card {
  &:hover,
  &:active,
  &:focus {
    border-color: hover-color($gray-light);
    text-decoration: none;
  }

}
