.search-box {
  display: inline-block;
}

.hits {
  display: none;
  position: absolute;
    top: 75px;
    left: 112px;
  background-color: white;
  width: 80vw;
  padding: $space-sm;;
  z-index: 10;
}

.ais {
  &-search-box {
    height: 56px !important;

    &--input {
      background: transparent !important;
      box-shadow: unset !important;
      border: 0px !important;
    }
  }
}
