
<footer class="site-footer h-card">
<data class="u-url" href="/Designer-Repo/"></data>

<div class="wrapper">

<h2 class="footer-heading">Gaslight Design Repo</h2>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
      <li class="p-name">Gaslight Design Repo</li>
      <li><a class="u-email" href="mailto:hello@teamgaslight.com">hello@teamgaslight.com</a></li></ul>
  </div>

  <div class="footer-col footer-col-2">
    <ul class="social-media-list">
      <li>
        <a href="https://github.com/gaslight">
          <i class="fab fa-github"></i>
          <span class="username">gaslight</span>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/teamgaslight">
          <i class="fab fa-twitter"></i>
          <span class="username">teamGaslight</span>
        </a>
      </li>
    </ul>

</div>

  <div class="footer-col footer-col-3">
    <p>Stuff and things and stuff.</p>
  </div>
</div>

</div>

</footer>
