@font-face
  font-family: DINWeb
  src: font-url('DINWeb-Light.eot') format('embedded-opentype')
  font-weight: lighter

@font-face
  font-family: DINWeb
  src: font-url('DINWeb-Light.woff') format('woff')
  font-weight: lighter

@font-face
  font-family: DINWeb
  src: font-url('DINWeb.eot') format('embedded-opentype')
  font-weight: normal

@font-face
  font-family: DINWeb
  src: font-url('DINWeb.woff') format('woff')
  font-weight: normal

@font-face
  font-family: DINWeb
  src: font-url('DINWeb-Medium.eot') format('embedded-opentype')
  font-weight: 600

@font-face
  font-family: DINWeb
  src: font-url('DINWeb-Medium.woff') format('woff')
  font-weight: 600

@font-face
  font-family: DINWeb
  src: font-url('DINWeb-Bold.eot') format('embedded-opentype')
  font-weight: bold

@font-face
  font-family: DINWeb
  src: font-url('DINWeb-Bold.woff') format('woff')
  font-weight: bold

i[class^="icon"]
  color: #fff
  font-size: 2.5em
  display: inline-block
  &:hover
    color: $gaslight-yellow
