//  Colors
$black: #2d2d2d;
$gray: #ccc;
$gray-light: #e5e5e5;
$gray-lighter: #d0d3d5;
$gray-lightest: #e5e8e9;
$white: #ffffff;

$off-white: #f2f5f8;

$prim-blue: #69c3e2;
$prim-blue2: darken(#69c3e2, 20%);
$prim-yellow: #f4d544;
$prim-red: #f27165;

$color-primary: $prim-blue;
$color-secondary: $prim-yellow;

$bg-color: $off-white;


// Spacing
$space-xs: .25rem;
$space-sm: .5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-xxl: 2.5rem;


// Borders
$border-base: 1px solid $gray-lighter;
$border-lg: 2px solid $gray-lighter;
$border-xl: $space-xs solid $gray-lighter;

$border-radius-base: $space-sm;

// Box-shadow
$box-shadow: 0px 2px 20px -2px rgba($gray, .32);

// Line Height
$line-height-header: 1.3em;


// Disabled Styles
$disabled-opacity: .5;
