---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest Articles" }}</h2>
    <section id="feed">
      <ul class="card-list feed">
        {%- for post in site.posts -%}
        <li class="card">
          <a href="{{ post.url | relative_url }}" class="card-link">

            <div class="card-photo">
              {%- if post.image -%}
                <img src="assets/images/{{post.image}}.png" />
              {%- endif -%}
            </div>

            <div class="card-body">

              <h3 class="u-ta-c card-title u-m-n-t u-m-sm-b">
                  {{ post.title | escape }}
              </h3>

              <h5 class="u-ta-c u-m-lg-b">
                  {{ post.origin| default:  '&mdash;' }}
              </h5>

              <div class="card-tags u-ta-c">

                  {%- for cat in post.categories -%}
                    <span class="card-tag">{{cat}}</span>
                  {%- endfor -%}

              </div>
                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}

            </div>
          </a>

          <div class="card-footer">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="card-meta u-f">
              <h5 class="u-m-n-b">
                <i class="far fa-clock u-p-xs-r"></i>{{post.date | date: date_format }}
              </h5>
            </span>
          </div>
        </li>
        {%- endfor -%}
      </ul>
    </section>


    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
