---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest Articles" }}</h2>
    <section id="feed">
      <ul class="card-list feed">
        {%- for post in site.posts -%}
        <li class="card">
          <a href="{{ post.url | relative_url }}" class="card-link">

            <div class="card-photo">
              <img src="assets/images/{{post.image}}.png" />
            </div>

            <div class="card-body">

              <h3 class="u-ta-c card-title">
                  {{ post.title | escape }}
              </h3>
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </div>


            <div class="card-footer">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
            </div>

          </a>
        </li>
        {%- endfor -%}
      </ul>
    </section>


    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
