/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
   "Segoe UI Symbol";

  color: #2d2d2d;
  background-color: $bg-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(100vw - (#{$space-xxl} * 2));
  max-width: calc(100vw - (#{$space-xxl}  * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }

  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (#{$space-xxl} ));
      max-width: calc(800px - (#{$space-xxl} ));
      padding-right: #{$space-md} ;
      padding-left: #{$space-md} ; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }
