h1, h2, h3, h4, h5, h6 {

}


h1 {

  color: $black;
  line-height: 1.3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font: "DINWeb", "Helvetica Neue", "Helvetica", "Roboto", "Open-Sans", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  margin-top: 6%;
  overflow: hidden;
}

a {
  color: $color-primary;
  cursor: pointer;
  text-decoration: none;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: $disabled-opacity;
  }
